/* START CSS BASELINE */

/* taken from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* these are some initial rules to standardize element display and behaviour */
/* you can read more about why following the above link, or searching for */
/* "css normalize" or "css reset" in your favorite search engine ;) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Poppins';
    src: url('./public/Poppins/Poppins-Medium.ttf') format('woff2');
    /* Add additional font formats for broader compatibility */
    font-weight: normal;
    font-style: normal;
}


  
/* Colors */
  :root {
    background-color: #EEE5DF;
    --blue_primary: #4B4665;
    --blue_light: #756F92;
    --secondary:#5D6354;
    --text: #696480;
    /* --link: #B55700; */
    --primary-font: 'Poppins', sans-serif;
  }

.background_color{
  background-color: #EEE5DF;
}

.blue_primary {
  color: #4B4665;
}

.blue_light{
  color: #756F92;
}

.accent{
  color: #B55700;
}

.green_secondery{
  color: #5D6354;
}

.text_color{
  color: #696480
}

/* Div screen */
.screen{
  background-color: var(--background_color, #EEE5DF); /* Set your desired background color */
  min-height: 100vh; /* Ensure the background covers the whole viewport height */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  font-family: var(--primary-font);
}

/* Texts */

/* Headlines */
h1{
    color: var(--primary-color, #4B4665);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
    letter-spacing: -0.32px;
}


/* Subtitles */
h2{
  color: var(--primary-color, #4B4665);
  font-family: var(--primary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3{
    color:#696480;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}



/* Positions and grid */
.center {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.text_center{
  text-align: center;
}

.padding-left{
  padding-left: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.top {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 999; /* Ensure it appears above other content */
}

/* Buttons */
.main_button{
  background: var(--secondary-color, #5D6354);
  display: flex;
  width: 100%; 
  max-width: 353px; 
  height: 56px;
  padding: 17px 152px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: var(--background, #EEE5DF);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 16px;
  font-style: normal;
  white-space: nowrap;
  font-weight: 600;
  line-height: 125%; /* 20px */
}


.second_button {
    background-color: var(--background_color, #EEE5DF);
    display: inline-block;
    white-space: nowrap;
    width: 100%; 
    max-width: 353px; 
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--secondary-color, #5D6354);
    color: var(--secondary-color, #5D6354);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
  }
  

  input, textarea, select, button, a.button {
    border: 1px solid var(--gray);
  }
  button, a.button {
    font-size: 1.125rem;
    background-color: var(--link);
    color: var(--light);
    margin: 1rem 0 0 0;
    cursor: pointer;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #logo{
    cursor: pointer;
  }

  #dogImage{
    padding-left: 75px;
  }
  
  .bottom-panel{
    background-color: var(--background_color, #EEE5DF);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 72px;
    flex-shrink: 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Example shadow */
  }

  .bottom-panel button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 30px;
  }

