.pet-profile {
    font-family: Poppins;
    color:#44493C;
    padding-bottom: 50px;
}

.pet-profile-header {
    text-align: center;
}

.pet-profile-image img {
    width: 100%;
    border-radius: 10px;
}

.pet-profile-details {
    background-color: white;
    border-radius: 50px;
    margin-top: 16px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pet-profile-details h3 {
    margin: 0;
    color: #333;
}

.pet-type {
    color: gray;
    font-size: 14px;
}

.pet-description p,
.pet-location p,
.pet-contact p,
.pet-additional-info p {
    margin: 5px 0;
}

.pet-description strong,
.pet-location strong,
.pet-contact strong,
.pet-additional-info strong {
    color: #555;
}

.pet-profile-details p {
    color: #333;
}

.text-32{
    font-size: 32px;
}

.text-24{
    font-size: 24px;
}

.text-18{
    font-size: 18px;
}

.text-16{
    font-size: 16px;
}

.text-14{
    font-size: 14px;
}

.bold{
    font-weight: bold;
}

.pet-profile-image {
    position: relative;
    width: 100%; /* or a specific width */
    padding-top: 56.25%; /* 16:9 aspect ratio (height / width * 100%) */
}

.pet-profile-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain, depending on your needs */
}

.pet-name{
    margin-right: 12px;
}

.pet-type, .pet-location-lost-at-title{
    color: #70717B;
}

.pet-location-lost-at-title{
    margin-left:8px;
    margin-right: 10px;
}

.pet-description{
    background-color: #E5E5E5;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 20px;
}

.flex-line{
    display: flex;
}

.flex-line:not(:last-child){
    margin-bottom: 18px;
}

.flex-item{
    flex:1;
    width: 50%;
}

.flex-item .flex-item-title{
    font-size: 14px;
    color:#756F92;
    margin:0;
}

.flex-item .flex-item-sub{
    font-size: 16px;
    margin:0;
}

.pet-additional-info{
    margin-bottom: 30px;
}
.pet-contact p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pet-contact .first-letter {
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #818974;
}

.pet-contact .contact {
    margin-right: 15px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pet-contact .contact-number {
    font-size: 24px; /* Match the size of the name */
}

.whatsapp-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: -5px; /* Move the button slightly up */
}

.whatsapp-button svg {
    width: 45px; /* Increase icon size */
height: 45px;
}